@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro.otf") format("truetype");
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PtSans.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("truetype");
}
@font-face {
  font-family: "Mania-Oblique";
  src: url("../fonts/Mania-Oblique.ttf") format("truetype");
}
@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/Proxima-Nova.otf") format("truetype");
}
