// ===== Base Folder====== //
@import "base/typography";
// ======================= //
// ===== Components Folder====== //
@import "components/buttons";
@import "components/burger";
@import "components/animation";
@import "components/modal";
// ======================= //
// ===== Helpers Folder====== //
@import "helpers/mixins";
// ======================= //
// ===== Layout Folder====== //
@import "layout/navigation";
@import "layout/header";
@import "layout/services&cost";
@import "layout/tariff-plans";
@import "layout/our-works";
@import "layout/gift";
@import "layout/questions";
@import "layout/any-q";
@import "layout/footer";
// ======================= //
// ===== Pages Folder====== //
@import "pages/home";
// ======================= //
body {
  overflow: scroll;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh; /* Need a specific value to work */
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  // Animation
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease-out;
  transition: opacity 600ms, visibility 600ms;

  img {
    display: block;
  }
  &.none {
    transition: opacity 0.6s ease-out;
    transition: opacity 600ms, visibility 600ms;
    visibility: hidden;
    opacity: 0;
  }
}
