// ===== Base Folder====== //
@import "base/typography";
// ======================= //
// ===== Components Folder====== //
@import "components/buttons";
@import "components/burger";
@import "components/animation";
@import "components/modal";
// ======================= //
// ===== Helpers Folder====== //
@import "helpers/mixins";
// ======================= //
// ===== Layout Folder====== //
@import "layout/navigation";
@import "layout/header";
@import "layout/services&cost";
@import "layout/tariff-plans";
@import "layout/our-works";
@import "layout/gift";
@import "layout/footer";
// ======================= //
// ===== Pages Folder====== //
@import "pages/home";
// ======================= //
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
