@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro.otf") format("truetype"); }

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PtSans.ttf") format("truetype"); }

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("truetype"); }

@font-face {
  font-family: "Mania-Oblique";
  src: url("../fonts/Mania-Oblique.ttf") format("truetype"); }

@font-face {
  font-family: "Proxima-Nova";
  src: url("../fonts/Proxima-Nova.otf") format("truetype"); }

.navbar-toggler {
  color: red;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid currentColor;
  width: 25px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out; }
  .navbar-toggler::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .navbar-toggler:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .navbar-toggler:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .navbar-toggler:focus {
    outline: unset; }
  .navbar-toggler.open {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out; }
    .navbar-toggler.open:before {
      transform: rotate(-405deg) translateY(1px) translateX(-3px);
      -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
      transition: transform 0.5s ease-in-out;
      -webkit-transition: -webkit-transform 0.5s ease-in-out; }
    .navbar-toggler.open:after {
      transform: rotate(405deg) translateY(-4px) translateX(-5px);
      -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
      transition: transform 0.5s ease-in-out;
      -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 5px;
  left: 0;
  background-color: #dd221c;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out; }

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left; }

#getCallModal.show {
  display: flex !important; }
  #getCallModal.show .modal-dialog {
    margin: auto; }

#getCallModal .modal-header {
  border-bottom: unset;
  padding-bottom: 0; }
  #getCallModal .modal-header button {
    color: #ff7400;
    opacity: 1;
    font-size: 40px; }

#getCallModal .modal-content {
  border-radius: unset;
  border: 8px #1a89c2 solid; }

#getCallModal .modal-body {
  padding-top: 0; }
  #getCallModal .modal-body input {
    background-color: #f8f8f8;
    border: unset;
    border-radius: 10px;
    padding: 12px 35px;
    margin-top: 30px;
    max-width: 305px;
    margin: 0 auto; }
    #getCallModal .modal-body input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #ff7400;
      font-size: em(15); }
    #getCallModal .modal-body input::-moz-placeholder {
      /* Firefox 19+ */
      color: #ff7400;
      font-size: em(15); }
    #getCallModal .modal-body input:-ms-input-placeholder {
      /* IE 10+ */
      color: #ff7400;
      font-size: em(15); }
    #getCallModal .modal-body input:-moz-placeholder {
      /* Firefox 18- */
      color: #ff7400;
      font-size: em(15); }
  #getCallModal .modal-body h1 {
    font-size: 28px;
    color: #ff7400;
    font-family: "Lato-Regular", sans-serif;
    font-weight: bold; }
  #getCallModal .modal-body p {
    font-size: 16px;
    font-family: "Lato-Regular", sans-serif;
    font-weight: bold;
    color: #1a89c2; }
  #getCallModal .modal-body button {
    font-family: "Lato-Regular", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    background-color: #ff7400;
    color: #fff;
    padding: 10px 50px; }

nav.navbar {
  padding-top: 30px;
  padding-bottom: 5px; }
  nav.navbar a.navbar-brand {
    font-family: "Mania-Oblique";
    font-size: 43px;
    letter-spacing: 4.3px;
    font-style: italic;
    color: #dd221c;
    padding-right: 20px; }
  nav.navbar ul.main-ul li {
    padding-right: 25px; }
    nav.navbar ul.main-ul li:last-child {
      padding-right: 0; }
    nav.navbar ul.main-ul li.active a:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      height: 2px;
      background-color: #dd221c; }
    nav.navbar ul.main-ul li a.nav-link {
      font-family: "PTSans";
      font-size: 17px;
      letter-spacing: 1.7px;
      color: #2d2d2d;
      padding-right: 0;
      padding-left: 0;
      position: relative; }
  nav.navbar ul.phone-ul li a:first-child {
    font-family: "Proxima-Nova";
    font-size: 25px;
    letter-spacing: 1px;
    color: #2d2d2d; }
    nav.navbar ul.phone-ul li a:first-child:hover {
      text-decoration: unset; }
  nav.navbar ul.phone-ul li a:nth-child(2) {
    font-family: "Proxima-Nova";
    font-size: 16px;
    letter-spacing: 1px;
    color: #646464; }
    nav.navbar ul.phone-ul li a:nth-child(2) span {
      position: relative; }
      nav.navbar ul.phone-ul li a:nth-child(2) span:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        background-color: #dd221c; }
    nav.navbar ul.phone-ul li a:nth-child(2):hover {
      text-decoration: unset; }

header {
  padding-top: 90px;
  padding-bottom: 90px;
  border-bottom: 3px solid #f2f2f2; }
  header .left h2 {
    font-family: "Gilroy-ExtraBold";
    font-size: 54px;
    letter-spacing: 5.4px;
    color: #2d2d2d;
    margin-bottom: 45px; }
  header .left p {
    font-family: "PTSans";
    font-size: 20px;
    letter-spacing: 2px;
    color: #ec3832;
    margin-bottom: 33px; }
  header .left button {
    font-family: "Gilroy-ExtraBold";
    font-size: 26px;
    letter-spacing: 2.6px;
    background-color: #dd221c;
    border-radius: 36px;
    color: #fff;
    position: relative;
    padding: 17px 30px;
    transition: opacity 0.7s ease-in-out;
    animation: one 3s infinite; }

@-webkit-keyframes one {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 8, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0); } }

@keyframes one {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 8, 0, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 8, 0, 0);
    box-shadow: 0 0 0 10px rgba(255, 8, 0, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 8, 0, 0); } }
    header .left button:hover {
      opacity: 0.8; }
    header .left button:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      border-radius: 36px;
      z-index: -1;
      box-shadow: -5px 4px 36px 10px rgba(255, 8, 0, 0.4); }
  header .right {
    background: url("../img/home/header/header-bg.png") no-repeat;
    background-size: cover;
    background-position-y: top; }
    header .right .pulse {
      box-shadow: 0 0 0 100px rbga(255, 8, 0, 1);
      animation: pulse 2s infinite; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ff0800; }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(255, 8, 0, 0.08); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #ff0800;
    box-shadow: 0 0 0 0 #ff0800; }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(255, 8, 0, 0.08);
    box-shadow: 0 0 0 20px rgba(255, 8, 0, 0.08); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 8, 0, 0); } }
    header .right .circle {
      width: 448px;
      height: 448px;
      background-color: #dd221c;
      border-radius: 50%;
      position: relative; }
      header .right .circle:after {
        content: "";
        position: absolute;
        width: 448px;
        height: 448px;
        top: 0;
        right: 0;
        border-radius: 50%;
        z-index: -1;
        box-shadow: -5px 4px 36px 10px rgba(255, 8, 0, 0.4); }
      header .right .circle img {
        position: absolute;
        bottom: 12%;
        left: -14.5%;
        max-width: 580px; }

#services-cost {
  padding-top: 45px;
  padding-bottom: 55px; }
  #services-cost .title {
    padding-bottom: 88px; }
    #services-cost .title h2 {
      font-family: "Gilroy-ExtraBold";
      font-size: 54px;
      font-weight: 400;
      letter-spacing: 5.4px;
      color: #2d2d2d; }
    #services-cost .title .section-line {
      max-width: 464px;
      width: 100%;
      height: 8px;
      background-color: #dd221c; }
  #services-cost .services {
    background: url("../img/home/header/header-bg.png") no-repeat;
    background-size: contain;
    background-position: center center; }
  #services-cost .services-item {
    margin-bottom: 40px;
    transition: all 0.75s ease-in-out;
    padding: 30px 28px; }
    #services-cost .services-item__icon {
      min-height: 103px;
      display: flex;
      align-items: center;
      justify-content: center; }
    #services-cost .services-item__text {
      padding-top: 45px; }
      #services-cost .services-item__text h5 {
        font-family: "Gilroy-ExtraBold";
        font-size: 30px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #2d2d2d; }
      #services-cost .services-item__text p {
        font-family: "PTSans";
        font-size: 17px;
        letter-spacing: 1.8px;
        color: #2d2d2d; }
    #services-cost .services-item:hover {
      cursor: pointer;
      border-radius: 10px;
      background-color: #f7f7f7; }
  #services-cost button {
    font-family: "Gilroy-ExtraBold";
    font-size: 19px;
    letter-spacing: 1.9px;
    background-color: #dd221c;
    border-radius: 31px;
    color: #fff;
    position: relative;
    padding: 17px 30px;
    transition: opacity 0.7s ease-in-out;
    animation: two 3s infinite; }

@-webkit-keyframes two {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 8, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0); } }

@keyframes two {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 8, 0, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 8, 0, 0);
    box-shadow: 0 0 0 10px rgba(255, 8, 0, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 8, 0, 0); } }
    #services-cost button:hover {
      opacity: 0.8; }
    #services-cost button:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      border-radius: 31px;
      z-index: -1;
      box-shadow: -5px 4px 36px 10px rgba(255, 8, 0, 0.4); }

#tariff-plans {
  padding-top: 35px;
  padding-bottom: 35px; }
  #tariff-plans h2 {
    font-family: "Gilroy-ExtraBold";
    font-size: 54px;
    font-weight: 400;
    letter-spacing: 5.4px;
    color: #2d2d2d;
    margin-bottom: 45px; }
  #tariff-plans .tariff-main {
    background: url("../img/home/tariff/tariff-bg.png") no-repeat;
    background-size: contain;
    background-position: top center; }
  #tariff-plans .tariff-item {
    margin-top: 45px;
    max-width: 328px; }
    #tariff-plans .tariff-item__head {
      padding-top: 50px;
      padding-bottom: 40px; }
      #tariff-plans .tariff-item__head h4 {
        font-family: "Gilroy-ExtraBold";
        font-size: 45px;
        letter-spacing: 4.5px;
        color: #fff;
        margin-bottom: 0; }
      #tariff-plans .tariff-item__head p {
        font-family: "Gilroy-ExtraBold";
        font-size: 20px;
        letter-spacing: 2px;
        color: #e3e3e3; }
    #tariff-plans .tariff-item__body {
      background-color: #f4f4f4;
      padding-top: 45px;
      padding-bottom: 45px; }
      #tariff-plans .tariff-item__body-text {
        font-family: "PTSans";
        font-size: 20px;
        letter-spacing: 2px;
        color: #2d2d2d; }
        #tariff-plans .tariff-item__body-text ul {
          padding-left: 50px; }
          #tariff-plans .tariff-item__body-text ul li {
            position: relative;
            line-height: 45px; }
            #tariff-plans .tariff-item__body-text ul li:before {
              content: "";
              position: absolute;
              top: 35%;
              left: -20px;
              width: 11px;
              height: 11px;
              opacity: 0.3;
              border-radius: 50%; }
      #tariff-plans .tariff-item__body-btn {
        margin-top: 45px; }
        #tariff-plans .tariff-item__body-btn button {
          font-family: "Gilroy-ExtraBold";
          font-size: 19px;
          letter-spacing: 1.9px;
          color: #fff;
          border-radius: 31px;
          padding: 17px 30px; }
  #tariff-plans .tariff-col:nth-child(1) .tariff-item__head {
    border-radius: 40px 40px 0 0;
    background-image: linear-gradient(-256deg, #7b15d0 0%, #7b15d0 17%, #00b1d7 50%, #00b1d7 100%); }
  #tariff-plans .tariff-col:nth-child(1) .tariff-item__body-text ul li:before {
    background-color: #3297df; }
  #tariff-plans .tariff-col:nth-child(1) .tariff-item__body-btn button {
    animation: four 3s infinite;
    background-image: linear-gradient(-256deg, #771ad0 0%, #771ad0 19%, #445bd3 60%, #445bd3 100%); }

@-webkit-keyframes four {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(68, 91, 211, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(68, 91, 211, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(68, 91, 211, 0); } }

@keyframes four {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(68, 91, 211, 0.5);
    box-shadow: 0 0 0 0 rgba(68, 91, 211, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(68, 91, 211, 0);
    box-shadow: 0 0 0 10px rgba(68, 91, 211, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(68, 91, 211, 0);
    box-shadow: 0 0 0 0 rgba(68, 91, 211, 0); } }
  #tariff-plans .tariff-col:nth-child(2) .tariff-item__head {
    border-radius: 40px 40px 0 0;
    background-image: linear-gradient(-256deg, #1c7c99 0%, #1c7c99 10%, #b21faa 47%, #b21faa 100%); }
  #tariff-plans .tariff-col:nth-child(2) .tariff-item__body-text ul li:before {
    background-color: #c4109d; }
  #tariff-plans .tariff-col:nth-child(2) .tariff-item__body-btn button {
    animation: five 3s infinite;
    background-image: linear-gradient(-256deg, #8f35a6 0%, #8f35a6 19%, #b21faa 60%, #b21faa 100%); }

@-webkit-keyframes five {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(178, 31, 170, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(178, 31, 170, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(178, 31, 170, 0); } }

@keyframes five {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(178, 31, 170, 0.5);
    box-shadow: 0 0 0 0 rgba(178, 31, 170, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(178, 31, 170, 0);
    box-shadow: 0 0 0 10px rgba(178, 31, 170, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(178, 31, 170, 0);
    box-shadow: 0 0 0 0 rgba(178, 31, 170, 0); } }
  #tariff-plans .tariff-col:nth-child(3) .tariff-item__head {
    border-radius: 40px 40px 0 0;
    background-image: linear-gradient(-256deg, #2669bb 0%, #2669bb 50%, #088ec9 70%, #088ec9 100%); }
  #tariff-plans .tariff-col:nth-child(3) .tariff-item__body-text ul li:before {
    background-color: #158a0f; }
  #tariff-plans .tariff-col:nth-child(3) .tariff-item__body-btn button {
    animation: six 3s infinite;
    background-image: linear-gradient(-94deg, #226ebd 0%, #226ebd 28%, #098cc8 47%, #098cc8 74%); }

@-webkit-keyframes six {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(9, 140, 200, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(9, 140, 200, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(9, 140, 200, 0); } }

@keyframes six {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(9, 140, 200, 0.5);
    box-shadow: 0 0 0 0 rgba(9, 140, 200, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(9, 140, 200, 0);
    box-shadow: 0 0 0 10px rgba(9, 140, 200, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(9, 140, 200, 0);
    box-shadow: 0 0 0 0 rgba(9, 140, 200, 0); } }

#our-works .title {
  padding-bottom: 88px; }
  #our-works .title h2 {
    font-family: "Gilroy-ExtraBold";
    font-size: 54px;
    font-weight: 400;
    letter-spacing: 5.4px;
    color: #2d2d2d; }
  #our-works .title .section-line {
    width: 610px;
    height: 8px;
    background-color: #dd221c; }

#our-works .work-col {
  margin-bottom: 100px; }
  #our-works .work-col .work-item {
    max-width: 310px;
    margin-left: auto;
    margin-right: auto; }
    #our-works .work-col .work-item__img img {
      width: 100%; }
    #our-works .work-col .work-item__text {
      background-color: #eeeeee;
      text-align: center;
      padding-top: 25px;
      padding-bottom: 60px;
      position: relative; }
      #our-works .work-col .work-item__text h6 {
        font-family: "Gilroy-ExtraBold";
        font-size: 17px;
        letter-spacing: 1.7px; }
      #our-works .work-col .work-item__text p {
        font-family: "Gilroy-ExtraBold";
        font-size: 13px;
        letter-spacing: 1.3px;
        color: #2d2d2d; }
      #our-works .work-col .work-item__text .work-item__btn {
        position: absolute;
        bottom: -15%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; }
        #our-works .work-col .work-item__text .work-item__btn button {
          font-family: "Gilroy-ExtraBold";
          font-size: 15px;
          letter-spacing: 1.5px;
          color: #fff;
          border-radius: 25px;
          padding: 13px 23px; }
  #our-works .work-col:nth-child(1) .work-item__text h6 {
    color: #3a2316; }
  #our-works .work-col:nth-child(1) .work-item__btn button {
    background-color: #3a2316;
    animation: seven 3s infinite; }

@-webkit-keyframes seven {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(58, 35, 22, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(58, 35, 22, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(58, 35, 22, 0); } }

@keyframes seven {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(58, 35, 22, 0.5);
    box-shadow: 0 0 0 0 rgba(58, 35, 22, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(58, 35, 22, 0);
    box-shadow: 0 0 0 10px rgba(58, 35, 22, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(58, 35, 22, 0);
    box-shadow: 0 0 0 0 rgba(58, 35, 22, 0); } }
  #our-works .work-col:nth-child(2) .work-item__text h6 {
    color: #f8d241; }
  #our-works .work-col:nth-child(2) .work-item__btn button {
    background-color: #f8d241;
    animation: eight 3s infinite; }

@-webkit-keyframes eight {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(248, 210, 65, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(248, 210, 65, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(248, 210, 65, 0); } }

@keyframes eight {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(248, 210, 65, 0.5);
    box-shadow: 0 0 0 0 rgba(248, 210, 65, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(248, 210, 65, 0);
    box-shadow: 0 0 0 10px rgba(248, 210, 65, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(248, 210, 65, 0);
    box-shadow: 0 0 0 0 rgba(248, 210, 65, 0); } }
  #our-works .work-col:nth-child(3) .work-item__text h6 {
    color: #389ade; }
  #our-works .work-col:nth-child(3) .work-item__btn button {
    background-color: #389ade;
    animation: nine 3s infinite; }

@-webkit-keyframes nine {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(56, 154, 222, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(56, 154, 222, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(56, 154, 222, 0); } }

@keyframes nine {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(56, 154, 222, 0.5);
    box-shadow: 0 0 0 0 rgba(56, 154, 222, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(56, 154, 222, 0);
    box-shadow: 0 0 0 10px rgba(56, 154, 222, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(56, 154, 222, 0);
    box-shadow: 0 0 0 0 rgba(56, 154, 222, 0); } }
  #our-works .work-col:nth-child(4) .work-item__text h6 {
    color: #3a2316; }
  #our-works .work-col:nth-child(4) .work-item__btn button {
    background-color: #3a2316;
    animation: seven 3s infinite; }

@-webkit-keyframes seven {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(58, 35, 22, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(58, 35, 22, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(58, 35, 22, 0); } }

@keyframes seven {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(58, 35, 22, 0.5);
    box-shadow: 0 0 0 0 rgba(58, 35, 22, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(58, 35, 22, 0);
    box-shadow: 0 0 0 10px rgba(58, 35, 22, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(58, 35, 22, 0);
    box-shadow: 0 0 0 0 rgba(58, 35, 22, 0); } }
  #our-works .work-col:nth-child(5) .work-item__text h6 {
    color: #f8d241; }
  #our-works .work-col:nth-child(5) .work-item__btn button {
    background-color: #f8d241;
    animation: eight 3s infinite; }

@-webkit-keyframes eight {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(248, 210, 65, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(248, 210, 65, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(248, 210, 65, 0); } }

@keyframes eight {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(248, 210, 65, 0.5);
    box-shadow: 0 0 0 0 rgba(248, 210, 65, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(248, 210, 65, 0);
    box-shadow: 0 0 0 10px rgba(248, 210, 65, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(248, 210, 65, 0);
    box-shadow: 0 0 0 0 rgba(248, 210, 65, 0); } }
  #our-works .work-col:nth-child(6) .work-item__text h6 {
    color: #389ade; }
  #our-works .work-col:nth-child(6) .work-item__btn button {
    background-color: #389ade;
    background-color: #389ade;
    animation: nine 3s infinite; }

@-webkit-keyframes nine {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(56, 154, 222, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(56, 154, 222, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(56, 154, 222, 0); } }

@keyframes nine {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(56, 154, 222, 0.5);
    box-shadow: 0 0 0 0 rgba(56, 154, 222, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(56, 154, 222, 0);
    box-shadow: 0 0 0 10px rgba(56, 154, 222, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(56, 154, 222, 0);
    box-shadow: 0 0 0 0 rgba(56, 154, 222, 0); } }

#gift {
  background: url("../img/home/gift/gift-bg.png") no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 55px;
  padding-bottom: 30px; }
  #gift h4 {
    font-family: "Proxima-Nova";
    font-size: 48px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    color: #fff;
    line-height: 52px; }
  #gift small {
    font-family: "MyriadPro";
    font-size: 18px;
    letter-spacing: 1.44px;
    color: #fff; }
  #gift button {
    animation: gift 3s infinite;
    font-family: "Gilroy-ExtraBold";
    font-size: 27px;
    letter-spacing: 2.6px;
    background-color: #f8d241;
    border-radius: 36px;
    color: #fff;
    position: relative;
    padding: 17px 30px;
    transition: opacity 0.7s ease-in-out; }

@-webkit-keyframes gift {
  0% {
    -webkit-box-shadow: 0 0 0 0 #f8d241; }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(248, 210, 65, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(248, 210, 65, 0); } }

@keyframes gift {
  0% {
    -moz-box-shadow: 0 0 0 0 #f8d241;
    box-shadow: 0 0 0 0 #f8d241; }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(248, 210, 65, 0);
    box-shadow: 0 0 0 10px rgba(248, 210, 65, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(248, 210, 65, 0);
    box-shadow: 0 0 0 0 rgba(248, 210, 65, 0); } }
    #gift button:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      border-radius: 36px;
      box-shadow: 0 0 98px 38px rgba(213, 205, 205, 0.57); }

#questions {
  padding-top: 60px;
  padding-bottom: calc(130px - 30px); }
  #questions .title {
    padding-bottom: 88px; }
    #questions .title h2 {
      font-family: "Gilroy-ExtraBold";
      font-size: 54px;
      font-weight: 400;
      letter-spacing: 5.4px;
      color: #2d2d2d; }
    #questions .title .section-line {
      width: 180px;
      height: 8px;
      background-color: #dd221c; }
  #questions .card {
    margin-bottom: 30px;
    max-width: 507px;
    border: unset; }
    #questions .card .card-header {
      border-radius: 10px;
      background-color: #f8f8f8;
      border: unset;
      position: relative; }
      #questions .card .card-header button.open:after {
        content: url("../img/home/open_arrow.png");
        position: absolute;
        top: 31%;
        right: 6%;
        width: 10px;
        height: auto;
        display: block; }
      #questions .card .card-header button:after,
      #questions .card .card-header button.open.collapsed:after {
        content: url("../img/home/close_arrow.png");
        position: absolute;
        top: 31%;
        right: 6%;
        width: 10px;
        height: auto;
        display: block; }
      #questions .card .card-header button {
        font-family: "Gilroy-ExtraBold";
        font-size: 19px;
        letter-spacing: 1.3px;
        color: #717171; }
        #questions .card .card-header button:hover {
          text-decoration: unset; }
        #questions .card .card-header button:focus {
          text-decoration: unset; }
    #questions .card .collapsing:before,
    #questions .card .collapse.show:before {
      content: "";
      position: absolute;
      top: 28%;
      left: 0;
      width: 100%;
      height: 12px;
      background-color: #f8f8f8; }
    #questions .card .card-body {
      font-family: "MyriadPro";
      font-size: 15px;
      letter-spacing: 1.3px;
      line-height: 25px;
      color: #2d2d2d;
      padding-top: unset;
      padding-left: 35px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: #f8f8f8;
      position: relative; }

#any-q {
  background-color: #dd221c;
  padding-top: 18px;
  padding-bottom: 18px;
  box-shadow: 0 0 38px 11px #ededed; }
  #any-q h3 {
    font-family: "Proxima-Nova";
    font-size: 35px;
    letter-spacing: 1.3px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-left: 30px; }
  #any-q button {
    font-family: "Gilroy-ExtraBold";
    font-size: 22px;
    letter-spacing: 2.2px;
    animation: ten 3s infinite;
    background-image: linear-gradient(-256deg, #ffc900 0%, #ffc900 66%, #ebbc07 78%, #ebbc07 100%);
    border-radius: 31px;
    color: #fff;
    position: relative;
    padding: 17px 30px;
    transition: opacity 0.7s ease-in-out; }

@-webkit-keyframes ten {
  0% {
    -webkit-box-shadow: 0 0 0 0 #ffc900; }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 201, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 201, 0, 0); } }

@keyframes ten {
  0% {
    -moz-box-shadow: 0 0 0 0 #ffc900;
    box-shadow: 0 0 0 0 #ffc900; }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 201, 0, 0);
    box-shadow: 0 0 0 10px rgba(255, 201, 0, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 201, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 201, 0, 0); } }
    #any-q button:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      border-radius: 30px;
      box-shadow: 0 0 9px 4px rgba(255, 255, 255, 0.57); }

footer {
  padding-top: 50px;
  background-color: #efefef; }
  footer .footer-social .phone-ul li a:first-child {
    font-family: "Proxima-Nova";
    font-size: 25px;
    letter-spacing: 1px;
    color: #2d2d2d; }
    footer .footer-social .phone-ul li a:first-child:hover {
      text-decoration: unset; }
  footer .footer-social .phone-ul li a:nth-child(2) {
    font-family: "Proxima-Nova";
    font-size: 16px;
    letter-spacing: 1px;
    color: #646464; }
    footer .footer-social .phone-ul li a:nth-child(2) span {
      position: relative; }
      footer .footer-social .phone-ul li a:nth-child(2) span:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        background-color: #dd221c; }
    footer .footer-social .phone-ul li a:nth-child(2):hover {
      text-decoration: unset; }
  footer .footer-social .social-ul {
    margin-top: 40px; }
    footer .footer-social .social-ul li a:hover img {
      transform: scale(1.1);
      box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2), 0 0 24px rgba(0, 0, 0, 0.12);
      border-radius: 50%; }
    footer .footer-social .social-ul li a img {
      transition: all 0.5s ease-in-out;
      border-radius: 50%; }
    footer .footer-social .social-ul li:not(:last-child) {
      padding-right: 12px; }
  footer ul li a {
    font-family: "PTSans";
    font-size: 17px;
    letter-spacing: 1.3px;
    color: #9b9a9a;
    line-height: 25px;
    transition: color 0.7s ease-in-out; }
    footer ul li a:hover {
      color: #dd221c;
      text-decoration: unset; }
  footer .bottom-footer {
    background-color: #eae7e7;
    margin-top: 45px;
    padding-top: 22px;
    padding-bottom: 22px; }
    footer .bottom-footer a.brand {
      font-family: "Mania-Oblique";
      font-size: 43px;
      letter-spacing: 4.3px;
      color: #dd221c; }
      footer .bottom-footer a.brand:hover {
        text-decoration: unset; }
    footer .bottom-footer p {
      font-family: "MyriadPro";
      font-size: 15px;
      letter-spacing: 1.5px;
      color: #9e9e9e; }
    footer .bottom-footer a.btn {
      font-family: "Gilroy-ExtraBold";
      font-size: 15px;
      letter-spacing: 1.5px;
      background-color: #dd221c;
      border-radius: 31px;
      color: #fff;
      position: relative;
      padding: 17px 30px;
      transition: opacity 0.7s ease-in-out;
      animation: two 3s infinite; }

@-webkit-keyframes two {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0.5); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 8, 0, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0); } }

@keyframes two {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0.5);
    box-shadow: 0 0 0 0 rgba(255, 8, 0, 0.5); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(255, 8, 0, 0);
    box-shadow: 0 0 0 10px rgba(255, 8, 0, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 8, 0, 0);
    box-shadow: 0 0 0 0 rgba(255, 8, 0, 0); } }
      footer .bottom-footer a.btn:hover {
        opacity: 0.8; }
      footer .bottom-footer a.btn:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 31px;
        box-shadow: -5px 4px 36px 10px rgba(255, 8, 0, 0.4); }

html {
  overflow: scroll;
  overflow-x: hidden; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000; }
