#any-q {
  background-color: #dd221c;
  padding-top: 18px;
  padding-bottom: 18px;
  h3 {
    @include font("Proxima-Nova", 35px, 900, 1.3px);
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-left: 30px;
  }
  button {
    @include font("Gilroy-ExtraBold", 22px, 400, 2.2px);
    @include pulseBtns(rgba(255, 201, 0, 1), rgba(255, 201, 0, 0), ten);
    background-image: linear-gradient(
      -256deg,
      #ffc900 0%,
      #ffc900 66%,
      #ebbc07 78%,
      #ebbc07 100%
    );

    border-radius: 31px;
    color: #fff;
    position: relative;
    padding: 17px 30px;
    transition: opacity 0.7s ease-in-out;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      border-radius: 30px;
      box-shadow: 0 0 9px 4px rgba(255, 255, 255, 0.57);
    }
  }
}
