footer {
  $brand-clr: #dd221c;
  $brand-fnts: 43px;

  padding-top: 50px;
  background-color: #efefef;

  // .link-col:first-child {
  //   ul {
  //     li:first-child {
  //       a {
  //         color: #dd221c;
  //       }
  //     }
  //   }
  // }

  .footer-social {
    .phone-ul {
      li {
        a:first-child {
          @include font("Proxima-Nova", 25px, 700, 1px);
          color: #2d2d2d;
          &:hover {
            text-decoration: unset;
          }
        }
        a:nth-child(2) {
          @include font("Proxima-Nova", 16px, 700, 1px);
          color: #646464;
          span {
            position: relative;
            &:before {
              content: "";
              position: absolute;
              left: 0;
              bottom: 0px;
              width: 100%;
              height: 2px;
              background-color: #dd221c;
            }
          }
          &:hover {
            text-decoration: unset;
          }
        }
      }
    }
    .social-ul {
      margin-top: 40px;
      li {
        a:hover {
          img {
            transform: scale(1.1);
            box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2),
              0 0 24px rgba(0, 0, 0, 0.12);
            border-radius: 50%;
          }
        }
        a {
          img {
            transition: all 0.5s ease-in-out;
            border-radius: 50%;
          }
        }
      }
      li:not(:last-child) {
        padding-right: 12px;
      }
    }
  }

  ul {
    li {
      a {
        @include font("PTSans", 17px, 400, 1.3px);
        color: #9b9a9a;
        line-height: 25px;
        transition: color 0.7s ease-in-out;
        &:hover {
          color: #dd221c;
          text-decoration: unset;
        }
      }
    }
  }

  .bottom-footer {
    background-color: #eae7e7;
    margin-top: 45px;
    padding-top: 22px;
    padding-bottom: 22px;
    a.brand {
      @include font("Mania-Oblique", $brand-fnts, 400, 4.3px);
      color: $brand-clr;
      &:hover {
        text-decoration: unset;
      }
    }
    p {
      @include font("MyriadPro", 15px, 400, 1.5px);
      color: #9e9e9e;
    }
    a.btn {
      @include font("Gilroy-ExtraBold", 15px, 400, 1.5px);
      background-color: #dd221c;
      border-radius: 31px;
      color: #fff;
      position: relative;
      padding: 17px 30px;
      transition: opacity 0.7s ease-in-out;
      @include pulseBtns(rgba(255, 8, 0, 0.5), rgba(255, 8, 0, 0), two);
      &:hover {
        opacity: 0.8;
      }
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 31px;
        box-shadow: -5px 4px 36px 10px rgba(255, 8, 0, 0.4);
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    ul li a {
      font-size: 15px;
    }
    .footer-social .phone-ul li a:first-child {
      font-size: 19px;
    }
    .bottom-footer {
      a.brand {
        font-size: 36px;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 991px) {
    .phone-ul {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    .footer-social .social-ul {
      margin-top: 20px;
      justify-content: center !important;
    }
    .footer-social .phone-ul li a:nth-child(2) {
      text-align: center !important;
    }
    .bottom-footer {
      a.brand {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
      a.btn {
        padding: 15px 20px;
      }
    }
  }

  @media screen and (min-width: 576px) and (max-width: 767px) {
    .phone-ul {
      display: flex;
      justify-content: center;
      margin-top: 44px;
    }
    .footer-social .social-ul {
      margin-top: 15px;
      justify-content: center !important;
    }
    .footer-social .phone-ul li a:first-child {
      font-size: 19px;
    }
    .footer-social .phone-ul li a:nth-child(2) {
      text-align: center !important;
    }
    .link-col:nth-child(3) {
      margin-top: 15px;
    }
    .bottom-footer {
      a.brand {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
      a.btn {
        padding: 15px 20px;
      }
      .box:nth-child(1) {
        order: 1;
      }
      .box:nth-child(2) {
        margin-top: 25px;
        order: 3;
      }
      .box:nth-child(3) {
        order: 2;
      }
    }
  }

  @media screen and (max-width: 575px) {
    padding-top: 20px;
    .phone-ul {
      display: flex;
      justify-content: center;
      margin-top: 44px;
    }
    .footer-social .social-ul {
      margin-top: 14px;
      justify-content: center !important;
    }
    .footer-social .phone-ul li a:first-child {
      font-size: 19px;
    }
    .footer-social .phone-ul li a:nth-child(2) {
      text-align: center !important;
    }
    .link-col {
      margin-top: 15px;
    }
    .bottom-footer {
      a.brand {
        font-size: 19px;
      }
      p {
        font-size: 14px;
      }
      a.btn {
        padding: 10px 15px;
        font-size: 13px;
      }
      .box:nth-child(1) {
        order: 1;
      }
      .box:nth-child(2) {
        margin-top: 25px;
        order: 3;
      }
      .box:nth-child(3) {
        order: 2;
      }
    }
  }
}
