header {
  $circle-bg: #dd221c;
  $btn-bg: #dd221c;
  $head-text-clr: #2d2d2d;
  $head-text-fnts: 54px;
  $p-color: #ec3832;
  $p-fnts: 20px;
  $btn-fnts: 26px;

  padding-top: 90px;
  padding-bottom: 90px;

  border-bottom: 3px solid #f2f2f2;

  .left {
    h2 {
      @include font("Gilroy-ExtraBold", $head-text-fnts, 400, 5.4px);
      color: $head-text-clr;
      margin-bottom: 45px;
    }
    p {
      @include font("PTSans", $p-fnts, 400, 2px);
      color: $p-color;
      margin-bottom: 33px;
    }

    button {
      @include font("Gilroy-ExtraBold", $btn-fnts, 400, 2.6px);
      background-color: $btn-bg;
      border-radius: 36px;
      color: #fff;
      position: relative;
      padding: 17px 30px;
      transition: opacity 0.7s ease-in-out;
      $c1: rgba(255, 8, 0, 0.5);
      $c2: rgba(255, 8, 0, 0);
      @include pulseBtns($c1, $c2, one);
      &:hover {
        opacity: 0.8;
      }
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        border-radius: 36px;
        z-index: -1;
        box-shadow: -5px 4px 36px 10px rgba(255, 8, 0, 0.4);
      }
    }
  }
  .right {
    background: url("../img/home/header/header-bg.png") no-repeat;
    background-size: cover;
    background-position-y: top;
    @include pulse;
    .circle {
      width: 448px;
      height: 448px;
      background-color: $circle-bg;
      border-radius: 50%;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 448px;
        height: 448px;
        top: 0;
        right: 0;
        border-radius: 50%;
        z-index: -1;
        box-shadow: -5px 4px 36px 10px rgba(255, 8, 0, 0.4);
      }
      .laptop-image {
        position: absolute;
        bottom: 12%;
        left: -14.5%;
        max-width: 580px;
        img {
          position: relative;
        }
      }
      .view-all-projects {
        position: absolute;
        bottom: 6%;
        left: 29.3%;
        a {
          @include font("PTSans", 16, 400, 2px);
          color: #fff;
          position: relative;
          &:hover {
            text-decoration: unset;
          }
          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 1px;
            background-color: #fff;
          }
        }
      }
      .content {
        position: absolute;
        top: 84px;
        left: 2px;
        right: 0;
        margin: auto;
        width: 438px;
        height: 275px;
        overflow: auto;
        img {
          width: 430px;
          height: auto;
          z-index: 10;
        }
      }
      .content::-webkit-scrollbar {
        width: 8px;
      }

      .content::-webkit-scrollbar-track {
        background: #f8f8f8;
      }

      .content::-webkit-scrollbar-thumb {
        background-color: #dd221c;
      }
    }
  }
}
