nav.navbar {
  $brand-clr: #dd221c;
  $brand-fnts: 43px;
  $nav-color: #2d2d2d;
  $nav-fnts: 17px;
  padding-top: 30px;
  padding-bottom: 5px;

  a.navbar-brand {
    @include font("Mania-Oblique", $brand-fnts, 400, 4.3px);
    font-style: italic;
    color: $brand-clr;
    padding-right: 20px;
    z-index: 101;
  }
  .navbar-toggler {
    z-index: 101;
  }
  ul {
    &.main-ul {
      li {
        padding-right: 25px;
        &:last-child {
          padding-right: 0;
        }
        &.active {
          a:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 5px;
            width: 100%;
            height: 2px;
            background-color: #dd221c;
          }
        }
        a {
          &.nav-link {
            @include font("PTSans", $nav-fnts, 400, 1.7px);
            color: $nav-color;
            padding-right: 0;
            padding-left: 0;
            position: relative;
          }
        }
      }
    }
    // Phone ul
    &.phone-ul {
      .dropdown {
        padding-top: 10px;
        padding-right: 25px;
        padding-bottom: 15px;
        padding-left: 45px;
        &.show {
          background-color: #faf9f9;
          border-radius: 10px 10px 0 0;
        }
      }
      .kiev {
        position: relative;
        &:before {
          content: url("../img/home/header/flag.png");
          position: absolute;
          left: -30px;
          top: 4px;
        }
      }
      .moldova {
        position: relative;
        &:before {
          content: url("../img/home/header/flag.png");
          position: absolute;
          left: -30px;
          top: 4px;
        }
      }
      .russ {
        position: relative;
        &:before {
          content: url("../img/home/header/flag.png");
          position: absolute;
          left: -30px;
          top: 4px;
        }
      }
      .dropdown-toggle {
        background: unset;
        padding: unset;
        &:focus {
          outline: unset;
          box-shadow: unset;
        }
        &:after {
          display: none;
        }
      }
      #adress {
        text-align: left;
        .city {
          position: relative;
          text-align: left;
          flex-direction: row;
          align-items: center;
          @include font("LatoLight", 15px, 300, 1px);
        }
        .caret {
          width: 0;
          height: 0;
          content: "";
          border: 5px solid transparent;
          border-top: 5px solid #eae8e8;
          border-bottom: 0;
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px;
        }
        a {
          @include font("Proxima-Nova", 25px, 700, 1px);
          color: #2d2d2d;
          &:hover {
            text-decoration: unset;
          }
        }
      }
      .dropdown-menu {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #fdfbfb;
        border: unset;
        margin-top: 0;
        max-width: 100%;
        border-radius: 0 0 10px 10px;
        .social {
          padding-top: 10px;
          padding-bottom: 10px;
          ul {
            li {
              a:hover {
                img {
                  transform: scale(1.1);
                  box-shadow: 0 24px 24px rgba(0, 0, 0, 0.2),
                    0 0 24px rgba(0, 0, 0, 0.12);
                  border-radius: 50%;
                }
              }
              a {
                img {
                  transition: all 0.5s ease-in-out;
                  border-radius: 50%;
                }
              }
            }
            li:not(:last-child) {
              padding-right: 12px;
            }
          }
        }
      }
      li {
        .addToInput {
          @include font("Proxima-Nova", 16px, 700, 1px);
          color: #646464;
          position: relative;
          &:hover {
            cursor: pointer;
          }
          &:before {
            content: "";
            position: absolute;
            right: 0;
            bottom: 0px;
            width: 140px;
            height: 2px;
            background-color: #dd221c;
          }
        }
        .dropdown-item {
          padding: 10px 48px;
          &:hover {
            background-color: #faf9f9;
            cursor: pointer;
          }
        }
        span {
          display: flex;
          flex-direction: column;
        }
        span {
          @include font("LatoLight", 15px, 300, 1px);
          color: #2d2d2d;
        }
        a {
          @include font("LatoLight", 20px, 300, 1px);
          color: #2d2d2d;
          &:hover {
            text-decoration: unset;
          }
        }
      }
    }
  }

  @media screen and (min-width: 992px) and (max-width: 1199px) {
    a.navbar-brand {
      font-size: 36px;
    }
    ul.phone-ul li a:first-child {
      font-size: 19px;
    }
    ul.main-ul li a.nav-link {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 575px) {
    padding-top: 20px;
    a.navbar-brand {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 991px) {
    &.second-nav {
      padding: 0;
    }
    a.navbar-brand {
      font-size: 32px;
    }
    ul.main-ul {
      li {
        a.nav-link {
          text-align: center;
          font-size: 22px;
          &.btn {
            font-size: 15px;
            width: 50%;
            margin: auto;
          }
        }
      }
    }
    .navbar-toggler.open {
      position: fixed;
      right: 10px;
    }
    .navbar-collapse {
      background: rgba(255, 255, 255, 0.93);
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 100;
      height: 100vh;
      transition: all 0.2s ease-in-out;
      .nav-item {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-right: unset;
      }
      ul {
        &.phone-ul {
          display: none;
        }
        transition: all 0.2s ease-in-out;
        height: 100%;
        justify-content: center;
      }
    }
  }
}
