#tariff-plans {
  padding-top: 35px;
  padding-bottom: 35px;
  h2 {
    @include sectionTitle;
    margin-bottom: 45px;
  }
  .tariff-main {
    background: url("../img/home/tariff/tariff-bg.png") no-repeat;
    background-size: contain;
    background-position: top center;
  }
  .tariff-item {
    margin-top: 45px;
    max-width: 328px;
    &__head {
      padding-top: 50px;
      padding-bottom: 40px;
      h4 {
        @include font("Gilroy-ExtraBold", 45px, 400, 4.5px);
        color: #fff;
        margin-bottom: 0;
      }
      p {
        @include font("Gilroy-ExtraBold", 20px, 400, 2px);
        color: #e3e3e3;
      }
    }
    &__body {
      background-color: #f4f4f4;

      padding-top: 45px;
      padding-bottom: 45px;
      &-text {
        @include font("PTSans", 20px, 400, 2px);
        color: #2d2d2d;
        ul {
          padding-left: 50px;
          li {
            position: relative;
            line-height: 45px;
            &:before {
              content: "";
              position: absolute;
              top: 35%;
              left: -20px;
              width: 11px;
              height: 11px;
              opacity: 0.3;
              border-radius: 50%;
            }
          }
        }
      }
      &-btn {
        margin-top: 45px;
        button {
          @include font("Gilroy-ExtraBold", 19px, 400, 1.9px);
          color: #fff;
          border-radius: 31px;
          padding: 17px 30px;
        }
      }
    }
  }
  .tariff-col {
    &:nth-child(1) {
      .tariff-item__head {
        border-radius: 40px 40px 0 0;
        background-image: linear-gradient(
          -256deg,
          #7b15d0 0%,
          #7b15d0 17%,
          #00b1d7 50%,
          #00b1d7 100%
        );
      }
      .tariff-item__body-text {
        ul li {
          &:before {
            background-color: #3297df;
          }
        }
      }
      .tariff-item__body-btn {
        button {
          @include pulseBtns(
            rgba(68, 91, 211, 0.5),
            rgba(68, 91, 211, 0),
            four
          );
          background-image: linear-gradient(
            -256deg,
            #771ad0 0%,
            #771ad0 19%,
            #445bd3 60%,
            #445bd3 100%
          );
        }
      }
    }
    &:nth-child(2) {
      .tariff-item__head {
        border-radius: 40px 40px 0 0;
        background-image: linear-gradient(
          -256deg,
          #1c7c99 0%,
          #1c7c99 10%,
          #b21faa 47%,
          #b21faa 100%
        );
      }
      .tariff-item__body-text {
        ul li {
          &:before {
            background-color: #c4109d;
          }
        }
      }
      .tariff-item__body-btn {
        button {
          @include pulseBtns(
            rgba(178, 31, 170, 0.5),
            rgba(178, 31, 170, 0),
            five
          );
          background-image: linear-gradient(
            -256deg,
            #8f35a6 0%,
            #8f35a6 19%,
            #b21faa 60%,
            #b21faa 100%
          );
        }
      }
    }
    &:nth-child(3) {
      .tariff-item__head {
        border-radius: 40px 40px 0 0;
        background-image: linear-gradient(
          -256deg,
          #2669bb 0%,
          #2669bb 50%,
          #088ec9 70%,
          #088ec9 100%
        );
      }
      .tariff-item__body-text {
        ul li {
          &:before {
            background-color: #158a0f;
          }
        }
      }
      .tariff-item__body-btn {
        button {
          @include pulseBtns(rgba(9, 140, 200, 0.5), rgba(9, 140, 200, 0), six);
          background-image: linear-gradient(
            -94deg,
            #226ebd 0%,
            #226ebd 28%,
            #098cc8 47%,
            #098cc8 74%
          );
        }
      }
    }
  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .tariff-item {
      margin-top: 45px;
      max-width: 328px;
      &__head {
        padding-top: 50px;
        padding-bottom: 40px;
        h4 {
          @include font("Gilroy-ExtraBold", 36px, 400, 4.5px);
        }
        p {
          @include font("Gilroy-ExtraBold", 18px, 400, 2px);
        }
      }
      &__body {
        &-text {
          @include font("PTSans", 18px, 400, 2px);
        }
        &-btn {
          button {
            @include font("Gilroy-ExtraBold", 18px, 400, 1.9px);
            padding: 17px 25px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .tariff-item {
      margin-top: 45px;
      max-width: 320px;
      &__head {
        padding-top: 50px;
        padding-bottom: 40px;
        h4 {
          @include font("Gilroy-ExtraBold", 36px, 400, 4.5px);
        }
        p {
          @include font("Gilroy-ExtraBold", 18px, 400, 2px);
        }
      }
      &__body {
        &-text {
          @include font("PTSans", 18px, 400, 2px);
        }
        &-btn {
          button {
            @include font("Gilroy-ExtraBold", 18px, 400, 1.9px);
            padding: 17px 25px;
          }
        }
      }
    }
  }
  @media screen and (min-width: 576px) and (max-width: 768px) {
    .tariff-item {
      margin-top: 45px;
      max-width: 320px;
      &__head {
        padding-top: 30px;
        padding-bottom: 20px;
        h4 {
          @include font("Gilroy-ExtraBold", 30px, 400, 4.5px);
        }
        p {
          @include font("Gilroy-ExtraBold", 16px, 400, 2px);
        }
      }
      &__body {
        &-text {
          @include font("PTSans", 16px, 400, 2px);
        }
        &-btn {
          button {
            @include font("Gilroy-ExtraBold", 16px, 400, 1.9px);
            padding: 15px 20px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 575px) {
    .tariff-item {
      margin-top: 45px;
      max-width: 320px;
      &__head {
        padding-top: 30px;
        padding-bottom: 20px;
        h4 {
          @include font("Gilroy-ExtraBold", 30px, 400, 4.5px);
        }
        p {
          @include font("Gilroy-ExtraBold", 16px, 400, 2px);
        }
      }
      &__body {
        padding-top: 20px;
        padding-bottom: 20px;
        &-text {
          @include font("PTSans", 16px, 400, 2px);
        }
        &-btn {
          button {
            @include font("Gilroy-ExtraBold", 16px, 400, 1.9px);
            padding: 15px 20px;
          }
        }
      }
    }
  }
}
